html {
    font-size: 10px; //this is to use 1rem as 10px
    font-family: 'Barlow', Helvetica, sans-serif;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

.container {
    width: 120rem;
    max-width: 85%;
    margin: 6.4rem auto;
    background: aliceblue;
    display: flex;
    padding: 1.6rem;
    gap: 1.6rem;
    overflow: hidden;
    @media (max-width: 996px) {
        flex-direction: column;
    }
}