.controls-wrapper {
    position: relative;

    @media (max-width: 996px) {
        order: 1;
    }

    .sorting-selection {
        border: .1rem solid #aaaaaa;
        margin: 0;
    }

    .filter-form {
        margin-top: 1.6rem;
        border: .1rem solid #aaaaaa;
        padding: .8rem;

        label,
        input {
            display: block;
            margin-bottom: .8rem;
        }

        .buttons-row {
            display: flex;
            justify-content: space-between;
        }
        .search-button {
            padding: .4rem;
            height: max-content;
        }
    }

}