.table-wrapper {
    width: 75%;

    @media (max-width: 996px) {
        order: 2;
        width: 100%;
        overflow: scroll;

    }

    .table-inner-wrapper {
        border: .1rem solid black;
        border-bottom: none;

        @media (max-width: 996px) {
            width: 100%;
            min-width: 70rem;

        }
    }


    .legends-row {
        font-weight: 700;
        // border-top: .1rem solid black;
    }

    .single-row,
    .legends-row {
        position: relative;
        display: flex;
        border-bottom: .1rem solid black;
        word-break: break-all;

        &[data-visibilitystate="hidden"] {
            display: none;
        }


        &>span,
        label {
            display: block;
            width: 20%;
            max-width: 20%;
            padding: 1.6rem;
            border-left: .1rem solid black;

            @media (max-width: 996px) {
                padding: .4rem;

            }

            &:first-of-type {
                border-left: none;

            }
        }

        .id-cell {
            width: 3rem;
        }
    }
}